---
---
@import "minima";

.tag-cloud {
  margin-bottom: 20px;
  .tag-link {
    display: inline-block;
    background: #f0f0f0;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
    text-decoration: none;
    color: #333;
    &:hover { background: #e0e0e0; }
  }
}

.post-tags a {
  font-style: italic;
  color: #828282;
}
